#######################################
Project Ignore
#######################################
VesselMover.csproj
VesselMover.csproj.user

Distribution/GameData/VesselMover/Plugins/VesselMover.dll
.vs
obj
bin/Debug/

.vs/config
LocalDev/7za_dir.txt
LocalDev/dist_dir.txt
LocalDev/ksp_dir.txt
LocalDev/mono_exe.txt
LocalDev/pdb2mdb_exe.txt
VesselMover.userprefs

#######################################
Unity Ignore
#######################################

TrackIRUnity.dll
Assembly-*
Mono*
TDx*
UnityEngine.dll
*.pdb
*.jar
*.bat
*.zip
KSPAssets.dll
KSPCore.dll
KSPUtil.dll
SaveUpgradePipeline.Core.dll
UnityEngine.UI.dll
UnityEngine.xml
Vectrosity.dll

#######################################
#######################################
System*
mscorlib.dll

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
VesselMover.sln.DotSettings.user
/_ReSharper.Caches/ReSharperPlatformVs15183_74c703de.VesselMover.00
/LocalDev
/_ReSharper.Caches/ReSharperPlatformVs16191_4011600b.VesselMover.00
/_ReSharper.Caches
