.vs
bin
obj
Archive/*
GameData/**/*.dll
GameData/**/LICENSE*
GameData/**/NOTICE
GameData/**/KNOWN_ISSUES.md
GameData/**/README.md
GameData/**/CHANGE_LOG.md
GameData/**/CHANGES.md
GameData/**/*.version
Source/*/Properties/Version.cs
Source/*/*.user
